:root {
--primary-text-color:#212121;
--secondary-text-color: #757575;
--backgrount-main-color: #fff;
--accent-color: #2196F3;
--white-color:#fff;
}
body {
font-family: 'Roboto', sans-serif;
font-size: 14px;
background-color: #fff;
letter-spacing: 0.03em;
margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p{
margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: 0;
}
.container{
  width: 1200px;
  margin: 0 auto;
  justify-content: center;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.head{
  display: flex;
}
.head >.cont {
  display: flex;
  align-items: center;
}
.cont {
  border-bottom: 2px solid #757575;

}
.logo {
  margin-top: 25px;
  margin-right: 93px;
  text-decoration: none;
  font-family: 'Raleway',sans-serif;
  font-size: 26px;
  line-height: 1,19;
  letter-spacing: 0.03em;
  color: #2196F3;
}
.logo-accent {
  color: #212121;
}

.contact {
  margin-top: 32px;
  display: flex;
  list-style-type: none;
  Font-size: 14px;
  text-align: Left;
  vertical-align:Top;
  letter-spacing: 3%;
}
.contact-link {
  text-decoration: none;
  list-style-type: none;
  color: #757575;
  font-size: 14px;
  line-height: 1.14;
  text-align: Left;
  vertical-align: Top;
  letter-spacing: 2%;
  fill: #757575;
}
.contact :not(:last-child){
  margin-right: 50px;
}
.icon-contacts {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  margin-top:auto ;
  margin-bottom: auto;
  
}

.nav {
  display: flex;
}
.hr { 
  margin-right: 240px;
  padding: 32px;
  display: flex;
  align-items: center;
text-decoration: none;
font-size: 14px;
line-height: 1.14;
text-align: Left;
vertical-align: Top;
letter-spacing: 2%; 
list-style-type: none;
}
.nav-link{
  display: flex;
  color: #212121;
  text-decoration: none;
  font-size: 14px;
line-height: 1.14;
text-align: left;
letter-spacing: 2%;
}
.hr :not(:last-child){
margin-right: 50px;
}
.nav-link:focus{
  color: #2196F3;
}
.nav-link:hover{
  color: #2196F3;
}
.contact-link:focus{
  color: #2196F3;
}
.contact-link:hover{
  color: #2196F3;
  fill: var(--accent-color);
}
.hero {
background-image: url("../images/img.jpg");
background: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img.jpg");
background-repeat: no-repeat;
background-size: cover;
height: 600px;
width: 1600px;
background-color: #2F303A;
align-items: center;
}
.hero-content{
  padding: 200px 452px;
}
.hero-title{
font-size: 44px;
color: white;
line-height: 1.36;
text-align:center;
letter-spacing: 6%;
text-transform: uppercase;
margin-bottom: 30px;
}

.hero-btn {
cursor: pointer;
background-color:#2196F3;
color: white;
height: 50px;
width: 200px;
text-align: center;
font-size: 16px;
margin: 0 auto;
display: block;
}
.section-title{
margin-bottom: 50px;
color: #212121;
font-style: Bold;
font-size: 36px;
line-height: 1.16;
text-align: Center;
vertical-align: Top;
letter-spacing: 3%;
list-style-type: none;
}
.personalities-and-preferences {
  list-style-type: none;
}
.peculiariti-box {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.icon-peculiariti {
  width: 70px;
  height: 70px;
}
.work { 
  list-style-type: none;
  column-count: 4;
  padding-top: 94px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.work-title{
  text-transform: uppercase;
  list-style-type: none;
  font-size: 14px;
line-height: 1.14;
text-align: Left;
vertical-align: Top;
letter-spacing: 3%;
margin-bottom: 10px;
}
.work-text{
  list-style-type: none;
  color: #757575;
  font-size: 14px;
line-height: 1.7;
text-align: Left;
vertical-align: Top;
letter-spacing: 3%;
}
.team-memders {
  display: flex;
}

.our-team {
  background-color: #f5f4fa;
}

.team-memders-item {
  list-style: none;
  text-align: center;

  background-color: var(--background-main-color);

  width: calc((100% - 90px) / 4);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-memders-item:not(:first-child) {
  margin-left: 30px;
}

.team-members-item-footer {
  padding: 30px 0;
}

.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  margin-bottom: 10px;
}

.team-member-profession {
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);

  margin-bottom: 16px;
}

.team-member-social-list {
  display: flex;
  justify-content: center;

  list-style: none;
}

.social-network {
  width: 44px;
  height: 44px;

  border-radius: 50%;
}

.social-network:not(:first-child) {
  margin-left: 10px;
}
.social-network-link {
  display: inline-flex;
  padding: 12px;
  border-radius: inherit;
}

.icon-social-network {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
.social-network-link:hover,
.social-network-link:focus{
  fill: var(--white-color);
}
.social-network:hover,
.social-network:focus {
  background-color: var(--accent-color);
}
.social-network:hover .icon-social-network,
.social-network:focus .icon-social-network {
  fill: var(--white-color);
}

.headline {
  font-size: 14px;
  line-height: 1.14px;
  text-align: left;
  vertical-align:top;
  letter-spacing: 3%;
}
.desc{
  color:#757575;
  font-size: 14px;
  line-height: 1.14;
  box-align: left;
  vertical-align: Top
}
.image{ 
  margin:50px 215px 94px;
  list-style-type: none;
  list-style-type: none;
  column-count:3;
  align-content: center;
  margin:0 auto;
  display: block;
}


.footer{
  padding: 60px;
  padding-left: 215px;
  width: 1600px;
  background-color:#2F303A;
  align-content: center;
  
}
.data{
  padding: 60px auto 60px 215px;
  display: flex;
}
.info{
  list-style-type: none;
  font-size: 14px;
  line-height: 1.7;
  text-align: left;
  vertical-align: top;
  letter-spacing: 3%;
  align-content: center;
}
.address {
  color: #fff;
  text-decoration: none;
}
.contact-details {
  color: rgba(255, 255, 255, 0.6);
}
.logo-last{
  color: #fff;
} 
.footer-info{
  list-style-type: none;
}
.footer-social {
  margin-left: 70px;
}

.footer-social-title {
  color: #fff;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 12px;
}

.footer-social-list {
  display: flex;
  list-style: none;
}

.footer-social-network {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-network:hover,
.footer-social-network:focus {
  background-color: var(--accent-color);
}

.footer-social-network:not(:first-child) {
  margin-left: 10px;
}

.footer-social-link {
  display: inline-flex;
  padding: 12px;
  border-radius: inherit;
}
.icon-footer-social-newtork {
  width: 20px;
  height: 20px;
  fill:var(--backgrount-main-color);
}

.parameter-selection{
  display: flex;
  justify-content: center;
  list-style-type: none;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 3%;
}
.parameter-selection :not(last-child){
  margin-right: 8px;
}
.choice {
  align-content: center;
  cursor: pointer;
  list-style-type: none;
  border: 0;
  background-color: #F5F4FA;
  Width:128px;
  Height:38px;
  Top:174px;
  Left:576px;
  
}
.choise:hover {
  background-color:#2196F3 ;
  color: #fff;
}
.choice:focus {
  background-color:#2196F3 ;
  color: #fff;
}
.description{
  color: #757575;
  list-style-type: none;
  margin-top: 4px;

}
.portfolio{
  list-style-type: none;
}
.portfolio-image {
  width: 370px;
  background: #F5F4FA;
}
.portfolio-image:hover,
.portfolio-image:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-text{
  margin:20px 24px;
}
.img-group{
  display: flex;
  margin-bottom: 30px;
}
.img-group :not(:last-child){
  margin-right: 30px;
}
.our-customers {
  display: flex;
  list-style: none;
}
.customer {
  border: 1px solid #afb1b8;
  border-radius: 4px;

  width: calc((100% - 150px) / 6);
  height: 92px;
}
.customer > .link {
  display: block;
  padding: 13px 32px;
}

.customer:hover,
.customer:focus {
  border-color: var(--accent-color);
}
.icon-customer {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}
.customer:hover .icon-customer,
.icon-customer:focus .icon-customer {
  fill: var(--accent-color);
}

.customer:not(:first-child) {
  margin-left: 30px;
}
.our-customers {
  display: flex;
  list-style: none;
}
.customer {
  border: 1px solid #afb1b8;
  border-radius: 4px;

  width: calc((100% - 150px) / 6);
  height: 92px;
}
.customer > .link {
  display: block;
  padding: 13px 32px;
}

.customer:hover,
.customer:focus {
  border-color: var(--accent-color);
}
.icon-customer {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}
.customer:hover .icon-customer,
.icon-customer:focus .icon-customer {
  fill: var(--accent-color);
}

.customer:not(:first-child) {
  margin-left: 30px;
}
.team-memders {
  display: flex;
}

.our-team {
  background-color: #f5f4fa;
}

.team-memders-item {
  list-style: none;
  text-align: center;

  background-color: var(--background-main-color);

  width: calc((100% - 90px) / 4);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-memders-item:not(:first-child) {
  margin-left: 30px;
}

.team-members-item-footer {
  padding: 30px 0;
}

.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  margin-bottom: 10px;
}

.team-member-profession {
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);

  margin-bottom: 16px;
}

.team-member-social-list {
  display: flex;
  justify-content: center;

  list-style: none;
}

.social-network {
  width: 44px;
  height: 44px;

  border-radius: 50%;
}

.social-network:not(:first-child) {
  margin-left: 10px;
}
.social-network-link {
  display: inline-flex;
  padding: 12px;
  border-radius: inherit;
}
.social-network-link:not(last-child){
  margin-right: 10px;
}
.icon-social-network {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.social-network:hover,
.social-network:focus {
  background-color: var(--accent-color);
}
.social-network:hover .icon-social-network,
.social-network:focus .icon-social-network {
  fill: var(--white-color);
}
